<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User editor</title>
</head>
<body>
<form action="/user" method="post">
    <input type="text" name="username" th:value="${user.username}">
    <div>
        <label> <input type="checkbox" name= "${role}"></label>
    </div>
    <input type="text" th:value="${user.id}" name="userId" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">Save</button>
</form>
</body>